<div class="d-flex justify-content-between align-items-center">
  <h1>Conversations</h1>
  <%= link_to "New conversation", new_conversation_path, class: "btn btn-primary" %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
</div>
